* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --background: #121214;
  --ignite-green: #00875f;
  --discover-blue: #4863f7;
  --green: #04d361;
  --green-low: #1c2a24;
  --green-darker: #0f3924;
  --success-low: #051b0d;
  --red: #ce4a4a;
  --red-light: #eb3223;
  --red-darker: #3d1b23;
  --error: #e83f5b;
  --orange: #ff7a29;
  --orange-darker: #412c17;
  --orange-darkness: #593918;
  --yellow: #ffcd1e;
  --primary: #8257e5;
  --primary-darker: #28203e;
  --primary-hover: #9466ff;
  --primary-border: #6833e4;
  --primary-shape: #734bd1;
  --primary-light: #996dff;
  --gray: #e1e1e6;
  --text: #a8a8b3;
  --base-text: #c4c4cc;
  --support: #737380;
  --shape: #202024;
  --shape-dark: #3c3c42;
  --shape-hover: #29292e;
  --icons: #41414d;
  --attention: #fd951f;
  --borders: #323238;
  --experts: #db3a2c;
  --dowhile: #ff068a;
  --explorer: #42d3ff;
  --black: #09090a;
  --white: #fff;
  --scrollbar: #4d4d57;
  --scrollbar-background: transparent;
  --discover: ##6a80ff;
  --primary-gradient-top: linear-gradient(180deg, #1d1929, rgba(18, 18, 20, 0));
  --warranty-background: linear-gradient(
    270deg,
    rgba(72, 99, 247, 0.2),
    rgba(2, 6, 30, 0.2)
  );
  --orange-gradient-left: linear-gradient(
    90deg,
    #fd951f,
    rgba(253, 149, 31, 0.25)
  );
  --border-gradient: linear-gradient(270deg, #323238, rgba(50, 50, 56, 0.25));
  --darker-gradient-top: linear-gradient(
    180deg,
    #202024,
    rgba(32, 32, 36, 0.25)
  );
  --darker-gradient: linear-gradient(90deg, #202024, rgba(32, 32, 36, 0.25));
  --blue-gradient-left: linear-gradient(90deg, #29292e, rgba(41, 41, 46, 0));
  --blue-gradient-right: linear-gradient(
    90deg,
    #202024,
    rgba(32, 32, 36, 0.25)
  );
  --menu-mobile-active: linear-gradient(90deg, #09090a, rgba(9, 9, 10, 0));
  --font-text: 16px;
  --card-height: 40vw;
  --card-margin: 4vw;
  --card-top-offset: 1em;
  --numcards: 4;
  --outline-width: 0px;
}

.header {
  background: var(--shape);
  justify-content: space-between;
  display: flex;
  border-bottom: 2px solid #09d;
  align-items: center;
}

.nav a {
  text-decoration: none;
  margin: 1rem;
  background: #09d;
  color: white;
  padding: 0.5rem;
  border-radius: 3px;
  transition: 0.3s ease;
}

.nav a:hover {
  background: #07d;
}

body {
  background: #121214;
}

.logo {
  color: white;
  padding: 1rem;
  font-size: 1.4rem;
  text-decoration: none;
}

.menu-link a {
  border: 1px solid var(--borders);
  display: block;
  box-shadow: 0px 2px 0px #09d;
  width: 100%;
  max-width: 25rem;
  text-decoration: none;
  padding: 1.21875rem 0.875rem;
  background: var(--shape);
  color: #fff;
  font-size: 1.125rem;
  line-height: 1.333;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  border-radius: 0.3125rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.3s ease;
  transition: 0.2s ease;
  margin: 2.5rem auto;
}

.menu-link a:hover {
  background: var(--shape-hover);
  transform: translateY(-2px);
}

.footer {
  background: var(--shape);
  padding: 1rem;
  margin: 0 auto;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.footer .span {
  color: #09d;
}

.data {
  color: white;
  margin: 1rem;
  background: var(--shape);
  padding: 0.5rem;
  border-radius: 3px;
}

.data p {
  color: #dedede;
}

.data-back a {
  border: 1px solid var(--borders);
  display: block;
  box-shadow: 0px 2px 0px #09d;
  width: 100%;
  max-width: 25rem;
  text-decoration: none;
  padding: 1.21875rem 0.875rem;
  background: var(--shape);
  color: #fff;
  font-size: 1.125rem;
  line-height: 1.333;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  border-radius: 0.3125rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.3s ease;
  transition: 0.2s ease;
  margin: 1rem auto;
}
